Package: net.angelxwind.safestrat
Name: safestrat
Version: 1.0.3
Description: Volume-down at boot for SSH over USB
Section: Utilities
Depends: 
Conflicts: 
Replaces: 
Architecture: iphoneos-arm
Author: comex <karen@angelxwind.net>
Homepage: http://cydia.angelxwind.net/
Depiction: http://cydia.angelxwind.net/?page/net.angelxwind.safestrat
Maintainer: Karen/あけみ (angelXwind) <karen@angelxwind.net>
